 /* Form related css */
  
 input,
 select {
   display: block;
   margin: 15px 0px;
   font-size: 20px;
   padding: 2%;
 }
   #submit{
   background-color: #9C254D;
   color:#fff;
 }
 option {
   font-size: 25px;
 }
 form {
   width: 400px;
   border: 1px solid rgb(230, 230, 230);
   margin: 3% auto;
   padding: 3%;
   background: white;
 }
 /* Form related css */

 #signup-part{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  
 }
 
 #signup-btn{
  background-color:#9C254D;
 padding: 5px 10px;
 color: white;
  border-radius: 5px;
  font-size: 25px;
 margin-bottom: 20px;
 }
 
 #al-account{
     font-size: 20px;
 
 }
 